﻿@using QuizMVC.Models;

@model IEnumerable<Question>

@{
    ViewBag.Title = "Take the Quiz";
    int count = 0;
}

<h2>QuizView</h2>
<h3>@ViewBag.counter</h3>


<form method="POST" action="UserResults">
    @foreach (var question in Model)
    {
        <label name="questionTitle">@question.title</label>
        <input type="hidden" name="title" value="@question.title"/>
        <fieldset name="options">
            <input type="radio" name=@count value=@question.option1>@question.option1<br />
            <input type="radio" name=@count value=@question.option2>@question.option2<br />
            <input type="radio" name=@count value=@question.option3>@question.option3<br />
            <input type="radio" name=@count value=@question.option4>@question.option4<br />
        </fieldset>

        count++;
    }

    <button type="submit">Submit My Questions!</button>
    
</form>

