﻿
@{
    ViewBag.Title = "Login Page";
}
<html>
<body>
    <h2>Register</h2>
    <form action="Register" method="POST">
    <p>
        Please provide the following information to complete your
        registration.
    </p>

    <label for="firstname">First name (Required)</label>
    <input type="text" name="firstname" id="firstname" required><br/>

    <label for="lastname">LastName(Required)</label>
    <input type="text" name="lastname" id="lastname" required><br/>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" required placeholder="email"><br/>

    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="username"><br />

    <label for="password">Password</label>
    <input type="text" id="password" name="password" required placeholder="password"><br />

    <input type="submit" value="Register" id="submit">

   </form>

    <h2>Login</h2>
    <form action="ProcessLogin" method="POST">
        <p>
            Please provide the following information to complete your
            login.
        </p>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="username">

        <label for="password">Password</label>
        <input type="text" id="password" name="password" required placeholder="password">

        <input type="submit" value="Login" id="submit">

    </form>

</body>
</html>


