﻿
@{
    ViewBag.Title = "Add a Category";
}

<h2>Add a Category</h2>
<html>
<body>
    <form method="POST" action="AddCategoryToDataBase">
        <label for="newCat">Add a New Category</label>
        <input type="text" id="newCat" name="newCat" />
        <button class="click" type="submit">Add</button>
    </form>
</body>
</html>


