﻿
@{
    ViewBag.Title = "Add Question";
}

<h2>Add a Question</h2>
<html>
<head>
    <title>Add quiz</title>
    <link rel="stylesheet" link=".../Content/allStyle.css" />
</head>
<body>
    <form method="POST" action="AddQuestionToDataBase">
        <label for="userName">AddUserName</label>
        <input type="text" id="userName" name="userName" /><br />

        <label for="category">Specify Category</label>
        <input type="text" id="category" name="category" /> <br />

        <label for="newQuestionTitle">Add a New Question</label>
        <input type="text" id="newQuestionTitle" name="newQuestionTitle" /> <br />

        <label for="option1">Add option1</label>
        <input type="text" id="option1" name="option1" /> <br />

        <label for="option2">Add option2</label>
        <input type="text" id="option2" name="option2" /> <br />

        <label for="option3">Add option3</label>
        <input type="text" id="option3" name="option3" /> <br />

        <label for="option4">Add option4</label>
        <input type="text" id="option4" name="option4" /> <br />

        <label for="rightAnswer">Add right Answer</label>
        <input type="text" id="rightAnswer" name="rightAnswer" /> <br />

        <button type="submit">Add Question</button>
    </form>
</body>
</html>