﻿@using QuizMVC.Models;

@model IEnumerable<Category>

@{
    ViewBag.Title = "Quiz Game";
}
<html>
<head>
</head>
<body>
<button class="click">@Html.ActionLink("Sign In", "../Login/Login")</button>
<br/>
<button class="click">@Html.ActionLink("Add Category", "AddCategory")</button>
 <br/>
<button class="click">@Html.ActionLink("Add Question", "AddQuestion")</button>
</br>

    @foreach (var cat in Model)
    {
        @Html.ActionLink(@cat.categoryName, "../Quiz/QuizView", new { categorySelected = cat.categoryName });
        <br/>//ask if ok
    }

</body>
</html>


